%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{lib_dirs, ["deps"]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{deps, [
  {hackney, "1.1.0",
    {git, "https://github.com/lpgauth/hackney.git", {branch, "master"}}},
  {dispcount, "1.0.2",
    {git, "https://github.com/ferd/dispcount.git", "f466aecdb8"}}
]}.
